    body{
        display: flex;
        flex-direction: column; /* Stack children vertically */
        justify-content: flex-start; /* Align children at the start (top) */
        align-items: center; /* Center items horizontally */
        height: 100vh;
        margin: 0;
        background-color: #c1d6f3;
    }

    header {
        position: relative;
        border-bottom: 2px solid whitesmoke;
        height: 160px;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
    }

    h1 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 45px;
        font-weight: 700;
        -webkit-font-smoothing: antialiased;
        color: #314765;
        margin-top: 50px;
    }
    

    .header-img {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        padding: 10px;
        z-index: 999; /* Ensure it's above other content */
    }
   
    h2{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    h3{
        margin-top: -10px;
        margin-left: 20px;
        margin-bottom: -10px;
    }
    main{
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column; /* Stack children vertically */
        justify-content: flex-start; /* Align children at the start (top) */
        align-items: flex-start; /* Center items horizontally */
    }
    table{
        width: 100%;
        display: inline-table;
        outline: 2px solid grey;
        border-radius: 5px;
        margin-top: 15px;
        margin-bottom: 30px;
        
    }
    td{
        text-align: center;
    }
    table, th, td {
        border-collapse:collapse;
        border: 1px solid black;
        padding: 5px;
        /*width: 70%;*/
    }

    th, td {
        width: auto; /* Let the content dictate the column widths */
        padding: 5px;
    }
 
    .measure {
        background-color: #446494;
        width: 200px;
    }

    .measure2 {
        background-color: #446494;
        width: 250px;
    }

    .parameter{
        background-color: #314765;
        width: 70px;
    }

    .parameter-setting{
        width:50px;
    }

    tbody tr:nth-child(even) {
        background-color: #ffffff;
    }
    tbody tr:nth-child(odd) {
        background-color: #ffffffb5;
    }


    tbody th {
        background-color: #3e5a76;
        color: #fff;
        height: 20px;
      }

    thead{
        background-color: #333;
        color: white;
        height: 40px;
        text-align: center;
    }
    .head {
        color: white;
        text-align: center;
        height: 20px;
        font-weight: normal;
    }
    
    td {
        text-align: center;
    }

    .custom-label{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500 ;
        text-align: center;
        font-size: 1.2em;
        margin-top: 5px;
        margin-bottom: 2px;
        justify-content: space-around;
        align-items: center;
        max-width: 800px;
        justify-content: center;
        align-items: center;
        flex-grow: 1; 
    }   

    .custom-label-sub{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500 ;
        text-align: center;
        font-size: 1.2em;
        margin-bottom: 5px;
        align-items: center;
        max-width: 800px;
        align-items: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }   


    .selection-genset {
        appearance: none;
        display: inline-block;
        text-align: center;
        -webkit-appearance: none;
        min-width: 120px;
        max-width: 220px;
        font-size: 0.9em;
        padding: 3px 5px;
        background-color: #fff;
        border: 1px solid #caced1;
        border-radius: 0.25rem;
        color: #000;
        cursor: pointer;
      }
      .selection-line{
        appearance: none;
        display: inline-block;
        text-align: center;
        -webkit-appearance: none;
        min-width: 120px;
        max-width: 170px;
        font-size: 0.9em;
        padding: 3px 5px;
        background-color: #fff;
        border: 1px solid #caced1;
        border-radius: 0.25rem;
        color: #000;
        cursor: pointer;
      }
      .selection-area, .selection-chiller{
        appearance: none;
        display: inline-block;
        text-align: center;
        -webkit-appearance: none;
        min-width: 120px;
        max-width: 100px;
        font-size: 0.9em;
        padding: 3px 5px;
        background-color: #fff;
        border: 1px solid #caced1;
        border-radius: 0.25rem;
        color: #000;
        cursor: pointer;
        margin-right: 5px;
      }
      

      
      .btn{
        background-color: #314765;
        color:white;
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: 13px;
        font-weight:500;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        cursor: pointer;
        padding: 8px 10px;
        border-radius: 2px;
    }

    .btn-view{
        background-color: #314765;
        color:white;
        text-align: center;
        text-decoration: none;
        font-size: 13px;
        font-weight:500;
        flex: 1;
        font-size: 13px;
        font-weight:500;
        cursor: pointer;
        margin-top: 5px;
        padding: 6px 8px;
        border-radius: 2px;
    }

    .back {
        background-color: #2b78e3;
        color:white;
        text-align: center;
        text-decoration: none;
        display: inline;
        font-size: 13px;
        font-weight:500;
        cursor: pointer;
        padding: 8px 10px;
        border-radius: 2px;
        float:top;
        margin-bottom: 5px;
    }
    
        .input-container {
        border: none;
        box-sizing: border-box;
        text-align: center;
        outline: 0;
        position: relative;
        font-size: 1em;
        padding: 3px 5px;
        min-width: 100px;
        max-width: 170px;
        border: 1px solid #caced1;
        border-radius: 0.25rem;
        }
        
        input[type="date"]::-webkit-calendar-picker-indicator {
        background:transparent;
        bottom: 0;
        color: transparent;
        cursor: pointer;
        height: auto;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
        }

#logo {
    width: 275px;
    height: auto;
    display:block;
    float: left;
    position: static;
    margin-left: 25px;
    margin-top: 20px;
}
#exit {
    width: 100px;
    height: auto;
    display:block;
    position:static;
    float: right;
    margin-right:15px;
    margin-top: 10px;
    cursor: pointer;
}

.radio{
    display: flex; 
    justify-content: center; 
    align-items: center; 
}


#menu-form{
    width: 320px;
    height: 330px;
    border: 3px solid #3e5a76;
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
}

#menu-view{
    width: 320px;
    height: 330px;
    border: 3px solid #3e5a76;
    border-radius: 8px;
    display: inline-block;
    margin-left:30px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
}

.img {
    width: 250px;
    position: absolute;
    margin-top: 5px;
    margin-bottom: 5px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.selection-indicator{
    position: absolute;
    font-size: 1.3em;
    font-weight: 500;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.form-row {
    display: flex;
    justify-content: space-between; /* Adjust alignment as needed */
    align-items: center; /* Align items vertically */
    margin-bottom: 2px; /* Add margin for spacing */
}

.unitfield, .tanggalfield {
    flex: 1; /* Allow flexible width within the container */
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.selection-genset, .input-container, .selection-area, .selection-chiller, .selection-line{
    width: 100%;
    box-sizing: border-box;
}

.label {
    font-weight: bold;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
        text-align: center;
    }
}